
<ion-content fullscreen>

  <ion-slides pager="true">

    <ion-slide class="slide_img">
      <img src="assets/img/slide-1.png">
      <h2>What is Appflow?</h2>
          <p><b>Appflow</b> is a powerful set of services and features built on t
            op of Ionic Framework that brings a totally new 
            level of app development agility to mobile dev teams.</p>
    </ion-slide>

    <ion-slide class="slide_img">
      <img src="assets/img/slide-2.png">
      <h2>What is Appflow?</h2>
      <p><b>Appflow</b> is a powerful set of services and 
        features built on top of Ionic Framework that brings a 
        totally new level of app development agility to mobile dev teams.</p>
    </ion-slide>

    <ion-slide class="slide_img">
      <img src="assets/img/slide-3.png">
      <h2>What is Appflow?</h2>
      <p><b>Appflow</b> is a powerful set of services and features 
        built on top of Ionic Framework that brings a totally new level 
        of app development agility to mobile dev teams.</p>
    </ion-slide>

    <ion-slide class="slide_img">
      <img src="assets/img/slide-4.png">
      <h2>What is Appflow?</h2>
      <a (click)="goTooTabsPage()">Continuar</a>
    </ion-slide>

  </ion-slides>

</ion-content>